body {
  margin: 0;
}
.container1 {
  position: relative;
  margin-top: 10px;
  width: 100vw;
}
.déchirée {
  position: absolute;
  top: 412px;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.vetements {
  position: absolute;
  width: 100vw;
  height: 500px;
  object-fit: cover;
  object-position: top;
}
.block {
  position: absolute;
  display: block;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  border-radius: 10px;
  margin-right: 1200px;
  margin-left: 300px;
  margin-top: 70px;
  padding: 40px 50px;
}

.startsale {
  background-color: #38aeb7;
  color: white;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-right: 100px;
}
.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 547px;
}
.card {
  text-decoration: none;
  color: black;
  padding: 0 6px 16px;
}
.product {
  width: 250px;
  height: 350px;
  object-fit: cover;
  object-position: top;
  padding-top: 0px;
}
.avatarimg {
  width: 25px;
  height: 25px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.username {
  margin-left: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #999999;
  font-size: 12px;
}
.avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}
.description {
  color: #999999;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.productpage {
  display: flex;
  justify-content: space-around;
  background-color: #ebedee;
  height: 100vw;
  margin-top: 10px;
  padding: 0 300px;
}
.productdescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 320px;
  height: 520px;
  margin-top: 30px;
  padding: 40px;
}
.productimage {
  padding-top: 30px;
  width: 500px;
  height: 600px;
  object-fit: contain;
  object-position: center;
}
.avatarimage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.buy {
  background-color: #37adb6;
  border: none;
  color: white;
  height: 36px;
  width: 320px;
  margin: 0 auto;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 5px;
}
.keyproduct {
  color: #999999;
  list-style-type: none;
}

.listproduct {
  font-size: 14px;
  margin-top: 0px;
}
.detailslist {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 5px 0px;
}
.namekey {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  color: #666666;
}
.price {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  margin: 0px 5px;
  margin-bottom: 20px;
}
.marquename {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.paragraphe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #666666;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}
.saler {
  display: flex;
}
.surname {
  margin-left: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.checkbox {
  transform: scale(2);
  margin-right: 20px;
}
.accepte {
  display: flex;
  align-items: center;
}

.termes {
  text-align: left;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 5px 0 20px auto;
}
.textnewsletter {
  margin: 10px 0px;
}

.newpicture {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
  height: 200px;
}
.cursor {
  cursor: pointer;
}
.photo {
  display: none;
  cursor: pointer;
}
.changepreview {
  border: solid 1px#39b1ba;
  color: #39b1ba;
  font-size: 20px;
  padding: 0px 20px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
.previewcase {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkbox2 {
  display: flex;
  align-items: center;

  margin-right: 180px;
}
.pay {
  background-color: #05bb6a;
  border: none;
  color: white;
  font-size: 16px;
  margin: 40px 20px;
  padding: 10px 20px;
  border-radius: 5px;
}
.paiement {
  background-color: #eaedee;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vw;
  margin-top: 10px;
}
.cardelement {
  width: 550px;
  border: wheat solid 1px;
  margin: auto 20px;
  border-radius: 5px;

  padding: 10px 0px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin-top: 40px;
  height: 550px;
}
.lastdetails {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 500px;
  font-size: 16px;
  margin: 30px 20px;
  border-bottom: #eaedee solid 1px;
  padding-bottom: 30px;
}
.frais {
  display: flex;
  flex-direction: column;
  border-bottom: 1px #eaedee solid;
  margin: 20px 20px;
  padding-bottom: 40px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.commande {
  display: flex;
  justify-content: space-between;
}
.commande p {
  margin: 10px 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.resume {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 20px;
  margin-top: 40px;
}
.transaction {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
@media (max-width: 1268px) {
  .déchirée {
    top: 414px;
  }
}
@media (max-width: 1239px) {
  .déchirée {
    top: 420px;
  }
}
@media (max-width: 1153px) {
  .déchirée {
    top: 421px;
  }
}
@media (max-width: 1139px) {
  .déchirée {
    top: 422px;
  }
}
@media (max-width: 1125px) {
  .déchirée {
    top: 423px;
  }
}
@media (max-width: 1110px) {
  .déchirée {
    top: 424px;
  }
}
@media (max-width: 1096px) {
  .déchirée {
    top: 430px;
  }
}
@media (max-width: 1010px) {
  .déchirée {
    top: 432px;
  }
}
@media (max-width: 981px) {
  .déchirée {
    top: 436px;
  }
}
@media (max-width: 925px) {
  .déchirée {
    top: 446px;
  }
}

@media (max-width: 781px) {
  .déchirée {
    top: 457px;
  }
}
@media (max-width: 640px) {
  .block {
    font-size: 18px;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 130px;
    padding: 25px 20px;
  }
  .startsale {
    width: 100px;
    height: 30px;
    margin-top: 5px;
  }
}
@media (max-width: 623px) {
  .déchirée {
    top: 460px;
  }
}
@media (max-width: 580px) {
  .déchirée {
    top: 466px;
  }
}
